/*Colors*/
/*Font Familys*/
/*Dimentions*/
/*
*
* 1.0 - Fonts
*
*/
@font-face {
  font-family: "HelveticaNeue";
  src: url('../fonts/HelveticaNeue.eot?1512854281');
  src: url('../fonts/HelveticaNeue.eot?&1512854281#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeue.ttf?1512854281') format('truetype');
}
@font-face {
  font-family: "HelveticaNeueMedium";
  src: url('../fonts/HelveticaNeueMedium.eot?1512854281');
  src: url('../fonts/HelveticaNeueMedium.eot?&1512854281#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueMedium.ttf?1512854281') format('truetype');
}
@font-face {
  font-family: "HelveticaNeueBold";
  src: url('../fonts/HelveticaNeueBold.eot?1512854281');
  src: url('../fonts/HelveticaNeueBold.eot?&1512854281#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueBold.ttf?1512854281') format('truetype');
}
@font-face {
  font-family: "HelveticaNeueThin";
  src: url('../fonts/HelveticaNeueThin.eot?1512854281');
  src: url('../fonts/HelveticaNeueThin.eot?&1512854281#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueThin.ttf?1512854281') format('truetype'), url('../fonts/HelveticaNeueThin.otf?1512854281') format('opentype');
}
@font-face {
  font-family: "HelveticaBlack";
  src: url('../fonts/HelveticaBlack.eot?1512854281');
  src: url('../fonts/HelveticaBlack.eot?&1512854281#iefix') format('embedded-opentype'), url('../fonts/HelveticaBlack.ttf?1512854281') format('truetype');
}
@font-face {
  font-family: "HelveticaNeueItalic";
  src: url('../fonts/HelveticaNeueItalic.woff2?1512854281');
  src: url('../fonts/HelveticaNeueItalic.woff2?&1512854281#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueItalic.woff?1512854281') format('woff'), url('../fonts/HelveticaNeueItalic.otf?1512854281') format('opentype');
}
* {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0px;
}

img {
  border: none;
  
}

a.close {
  font-family: "HelveticaNeueBold";
  opacity: 1;
}
a.btn-scroll-up, a.btn-scroll-up:hover, a.btn-scroll-up:focus, a.btn-scroll-up:active {
  background-color: #ffb700;
  border-radius: 100px;
  color: #FFF !important;
  display: block;
  height: 25px;
  margin: 25px auto 8px;
  text-align: center;
  text-decoration: none !important;
  width: 25px;
}
a.btn-scroll-up span, a.btn-scroll-up:hover span, a.btn-scroll-up:focus span, a.btn-scroll-up:active span {
  line-height: 25px;
}

select {
  background-image: url(../img/arrow-select.png?1);
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 15px;
  outline: 0;
  -webkit-appearance: button;
  width: 100%;
}

.bold {
  font-weight: bold;
}

.border {
  outline: 1px solid #c51717;
}

.desktop {
  display: block !important;
}
@media (min-width: 1px) and (max-width: 767px) {
  .desktop {
    display: none !important;
  }
}

.mobile {
  display: none !important;
}
@media (min-width: 1px) and (max-width: 767px) {
  .mobile {
    display: block !important;
  }
}

.hidden {
  display: none !important;
}

.btn-default, .btn-default:hover, .btn-default:focus {
  background: #e4a300;
  color: #FFF;
  font-weight: bold;
  padding: 8px;
  height: 35px;
  text-decoration: none;
}

.color-yellow {
  color: #e4a300;
}

.pagination {
  font-family: "HelveticaNeue";
  font-size: .8em;
  font-weight: bold;
  display: table;
  margin: 0 auto;
}
.pagination li {
  color: #D3D3D3;
}
.pagination li a {
  color: #D3D3D3;
}
.pagination li a.active, .pagination li a:hover {
  color: #e4a300;
}

.row {
  margin: 0;
}

.txt-center {
  text-align: center !important;
}

.txt-right {
  text-align: right !important;
}

.cols-5 {
  float: left;
  min-height: 1px;
  position: relative;
  width: 20%;
}

.width-50 {
  width: 50%;
}

.width-33 {
  width: 33%;
}

.scroll-top {
  bottom: 25px;
  display: none;
  position: fixed;
  right: 25px;
  width: 50px;
}
@media (min-width: 1px) and (max-width: 767px) {
  .scroll-top {
    display: none !important;
    width: 30px;
  }
}

body {
  background-color: #FFFFFF;
  font-size: 14px;
  overflow-x: hidden;
}

footer {
  background-color: #636363;
  border-bottom: 2px solid #F5F5F5;
  color: #FFF;
  padding: 0px 0;
  width: 100%;
}
footer aside {
  display: flex;
  font-family: "HelveticaNeue";
  margin: 0 auto;
 /* max-width: 1024px;*/
}
@media (min-width: 1px) and (max-width: 767px) {
  footer aside {
    display: block;
  }
}
footer aside img.logo {
  margin: 60px auto 0;
  width: 100%;
}
@media (min-width: 1px) and (max-width: 767px) {
  footer aside img.logo {
    margin: 0 auto;
  }
}
footer aside ul {
  border-left: 2px solid #F5F5F5;
  border-right: 2px solid #F5F5F5;
  list-style: none;
  margin: 25px auto 0;
  padding: 15px 0;
  width: 100%;
}
footer aside ul li {
  text-align: center;
}
footer aside ul li a {
  color: #FFF;
}
footer aside ul li a:hover {
  color: #FFF;
}
@media (min-width: 1px) and (max-width: 767px) {
  footer aside ul {
    border: 0;
    border-bottom: 2px solid #FFF;
    padding: 8px 0;
  }
}
footer aside div.col-md-3 ul {
  border: 0;
  margin: 5px auto;
}
footer aside div.col-md-3 ul li {
  text-align: left;
}
@media (min-width: 1px) and (max-width: 767px) {
  footer aside div.col-md-3 ul li {
    text-align: center;
  }
}

section {
  width: 100%;
}
section aside {
  margin: 0 auto;
  max-width: 1438px;
  width: 100%;
}

div.sidebar-right {
  background: #F8F8F8;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  font-family: "HelveticaNeue";
  color: #FFF;
  position: fixed;
  top: 12%;
  height: 80%;
  right: -500px;
  width: 500px;
  z-index: 999;
  border: 2px solid #e4a300;
  border-right: 0;
}

@media (min-width: 1px) and (max-width: 767px) {
  div.sidebar-right {
    right: -320px;
    width: 320px;
  }
}
div.sidebar-right .info {
  color: #000;
  display: inline-block;
  font-weight: 800;
  font-size: 1.2em;
  line-height: 1.2;
  text-transform: uppercase;
  padding: 1px 2px;
}
div.sidebar-right .info:hover {
  background-color: #000;
  color: #FFF;
}
div.sidebar-right p {
  color: #666;
  font-size: 1.2em;
  font-family: "HelveticaNeueBold";
}
div.sidebar-right .content {
  position: relative;
  height: 100%;
  padding: 20px 25px;
}
div.sidebar-right .show-sidebar {
  background: url(../img/common/arrow-left.png) #e4a300 no-repeat center center;
  background-size: 38px auto;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  text-indent: -666em;
  width: 40px;
  height: 100px;
  margin: -50px 0 0 -40px;
  top: 50%;
  left: 0;
  position: absolute;
  text-align: center;
}
@media (min-width: 1px) and (max-width: 767px) {
  div.sidebar-right .show-sidebar {
    background-size: 25px auto;
    width: 32px;
    height: 80px;
    margin: -44px 0 0 -34px;
  }
}
div.sidebar-right .btn-default {
  margin: 0 0 8px 0;
}
div.sidebar-right .infoAccount {
  height: 94%;
  overflow: auto;
  width: 100%;
}
div.sidebar-right .infoAccount .contentTable {
  height: 90%;
  width: 100%;
  overflow: auto;
}
div.sidebar-right .infoAccount .contentTable table td {
  border-radius: 0;
}
div.sidebar-right .infoAccount table {
  width: 100%;
  color: #000;
  border-top-right-radius: 5px;
}
div.sidebar-right .infoAccount table tr td {
  text-align: center;
  vertical-align: middle;
}
div.sidebar-right .infoAccount table tr.trhead {
  background: #e4a300;
  color: #FFF;
}
div.sidebar-right .infoAccount table tr.trhead td {
  border-left: 1px solid #FFF;
  font-weight: bold;
  padding: 8px 0;
  text-align: center;
  width: 33.3%;
}
div.sidebar-right .infoAccount table tr.trhead td:first-child {
  border: 0;
  border-top-left-radius: 5px;
  width: 25%;
}
div.sidebar-right .infoAccount table tr.trhead td:last-child {
  border-top-right-radius: 5px;
}
div.sidebar-right .infoAccount table tr.trbody {
  background: #FFF;
}
div.sidebar-right .infoAccount table tr.trbody td {
  padding: 10px 0 8px;
}
div.sidebar-right .infoAccount table tr.trbody.trcols {
  background: #D3D3D3;
}
div.sidebar-right .infoAccount table tr.trbody.trcols td {
  border-left: 1px solid #FFF;
  width: 37.5%;
}
div.sidebar-right .infoAccount table tr.trbody.trcols td:first-child {
  border: 0;
  width: 25%;
}
div.sidebar-right .infoAccount table tr.line {
  background: #FFF;
  border-bottom: 3px solid #666;
  padding: 0;
}
div.sidebar-right .infoAccount table tr.line td {
  padding: 5px 0 8px;
}
div.sidebar-right .infoAccount table tr.trfoot {
  background: #FFF;
  font-size: 0.8em;
}
div.sidebar-right .infoAccount table tr.trfoot td {
  padding: 12px 0;
  font-weight: bold;
}

.owl-carousel li {
  list-style: none;
  margin: 0 8px;
}

.owl-dots {
  margin-top: 15px;
  text-align: center;
}
.owl-dots .owl-dot {
  display: inline-block;
}
.owl-dots .owl-dot span {
  width: 15px;
  height: 15px;
  margin: 5px 7px;
  background: #D6D6D6;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity .2s ease;
  border-radius: 30px;
}

header {
  -webkit-box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.75);
  padding: 30px 0 5px;
}
@media (min-width: 1px) and (max-width: 1023px) {
  header {
    padding: 5px 0;
  }
}
@media (min-width: 1px) and (max-width: 1023px) {
  header .navbar {
    margin: 0;
  }
}
@media (min-width: 1px) and (max-width: 1023px) {
  header .navbar .navbar-header {
    float: none;
  }
}
header .navbar .navbar-header .navbar-brand {
  margin: 0 !important;
  max-width: 200px;
  padding: 0;
}
@media (min-width: 1px) and (max-width: 1023px) {
  header .navbar .navbar-header .navbar-brand {
    margin: 10px 15px 0 !important;
  }
}
@media (min-width: 1px) and (max-width: 767px) {
  header .navbar .navbar-header .navbar-brand {
    width: 70%;
  }
}
header .navbar .navbar-toggle {
  margin: 16px 15px;
}
@media (min-width: 1px) and (max-width: 1023px) {
  header .navbar .navbar-toggle {
    display: inline-block;
    border: 1px solid #ffb700;
    float: right;
  }
}
@media (min-width: 1px) and (max-width: 1023px) {
  header .navbar .navbar-toggle .icon-bar {
    background-color: #ffb700;
  }
}
header .navbar .navbar-collapse {
  float: right;
}
@media (min-width: 1px) and (max-width: 1023px) {
  header .navbar .navbar-collapse {
    float: none;
  }
}
@media (min-width: 1px) and (max-width: 1023px) {
  header .navbar .navbar-collapse.collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    display: none !important;
    overflow-x: hidden;
    position: relative;
    text-align: inherit;
    top: inherit;
    width: 100%;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
}
header .navbar .navbar-collapse.in {
  display: block !important;
}
@media (min-width: 1px) and (max-width: 1023px) {
  header .navbar .navbar-collapse ul li {
    border-bottom: 2px solid #ffb700;
    margin-left: 20px;
    width: 100%;
  }
}
header .navbar .navbar-collapse ul li a {
  color: #706f6f;
  font-family: "HelveticaNeue";
  font-weight: bold;
  padding: 10px 8px 2px;
  text-transform: uppercase;
}
header .navbar .navbar-collapse ul li a:hover {
  background: none;
  border-bottom: 2px solid #ffb700;
}
@media (min-width: 1025px) and (max-width: 1350px) {
  header .navbar .navbar-collapse ul li a {
    font-size: .9em;
    padding: 10px 5px 2px;
  }
}
@media (min-width: 1px) and (max-width: 1023px) {
  header .navbar .navbar-collapse.collapsing ul li {
    width: 100%;
  }
}

section {
  display: block;
  position: relative;
  width: 100%;
}
section nav.menu-content {
  margin: 15px auto 8px;
}
section nav.menu-content ul {
  margin: 30px auto 8px;
  padding: 0;
  text-align: center;
}
section nav.menu-content ul li {
  display: inline-block;
  border: 0;
  margin: 7px -1px;
  padding: 0;
}
section nav.menu-content ul li a {
  background: #c51717;
  border: 0;
  color: #FFF;
  font-family: "HelveticaNeue";
  font-weight: bold;
  margin: 0;
  padding: 8px 10px;
  text-decoration: none;
  text-transform: uppercase;
}
section nav.menu-content ul li a:hover, section nav.menu-content ul li a.active {
  background: #000;
  color: #c51717;
}
section .banner-home {
  background-image: url(../img/home/banner.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "HelveticaNeue";
  margin: -10px 0 0;
  padding: 130px 0 140px;
  position: relative;
}
@media (min-width: 1px) and (max-width: 1023px) {
  section .banner-home {
    padding: 30px 0 40px;
  }
}
section .banner-home div.content-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
section .banner-home div.content-video iframe {
  height: 100%;
  position: relative;
  width: 100%;
}
section .banner-home .form-content {
  border: 2px solid #b1b1b1;
    display: inline-grid;
    margin: 0 0 0 50px;
    padding: 0 15px 10px;
    position: relative;
    text-align: center;
    width: 28%
}
@media (min-width: 1px) and (max-width: 1023px) {
  section .banner-home .form-content {
    margin: 0 auto;
    width: 98%;
  }
}
section .banner-home .form-content h1 {
  background-color: #FFF;
  border-radius: 8px;
  color: #3c3c3b;
  display: inline-block;
  font-size: 2em;
  font-weight: bold;
  margin: -23px auto 5px;
  padding: 8px 12px;
}
@media (min-width: 1px) and (max-width: 1023px) {
  section .banner-home .form-content h1 {
    font-size: 1.5em;
  }
}
section .banner-home .form-content .filtering-content {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 5px 0;
  margin: 0 auto;
  width: 100%;
}
@media (min-width: 1px) and (max-width: 1023px) {
  section .banner-home .form-content .filtering-content {
    width: 100%;
  }
}
section .banner-home .form-content .filtering-content ul.nav-tabs li {
  background-color: #575756;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    color: #FFF;
    width: 50%
}
section .banner-home .form-content .filtering-content ul.nav-tabs li a {
  border: none;
  border-radius: 0;
  color: #FFF;
  font-family: "HelveticaNeue";
  font-size: 1.2em;
}
@media (min-width: 1px) and (max-width: 1023px) {
  section .banner-home .form-content .filtering-content ul.nav-tabs li a {
    font-size: .9em;
    width: 100%;
  }
}
section .banner-home .form-content .filtering-content ul.nav-tabs li a:hover {
  background-color: #f5f5f5;
}
section .banner-home .form-content .filtering-content ul.nav-tabs li.active, section .banner-home .form-content .filtering-content ul.nav-tabs li:hover {
  background-color: #f5f5f5;
}
section .banner-home .form-content .filtering-content ul.nav-tabs li.active a, section .banner-home .form-content .filtering-content ul.nav-tabs li:hover a {
  color: #575756;
}
@media (min-width: 1px) and (max-width: 1023px) {
  section .banner-home .form-content .filtering-content .collapse {
    display: block;
  }
}
section .banner-home .form-content .filtering-content .collapse ul.navbar-nav {
  margin: 15px auto;
  width: 100%;
}
section .banner-home .form-content .filtering-content .collapse ul.navbar-nav li.dropdown {
  background: #ececec;
  float: none;
  font-size: 1.2em;
  margin: 8px auto;
  width: 80%;
  text-align: left;
}
@media (min-width: 1px) and (max-width: 1023px) {
  section .banner-home .form-content .filtering-content .collapse ul.navbar-nav li.dropdown {
    font-size: .9em;
    width: 100%;
  }
}
section .banner-home .form-content .filtering-content .collapse ul.navbar-nav li.dropdown a {
  color: #313130;
}
section .banner-home .form-content .filtering-content .collapse ul.navbar-nav li.dropdown span.caret {
  color: #ffb700;
  float: right;
  margin: 5px 0 0;
}
section .banner-home .form-content .filtering-content .collapse ul.navbar-nav li.dropdown ul.dropdown-menu {
  float: none;
  border: 0;
  padding: 5px 0;
  width: 100%;
}
section .banner-home .form-content .filtering-content .collapse ul.navbar-nav li.dropdown ul.dropdown-menu li {
  border-top: 1px solid #FFF;
  font-size: .9em;
  padding: 5px 8px;
  width: 100%;
}
section .banner-home .form-content .filtering-content .collapse ul.navbar-nav li.dropdown ul.dropdown-menu li:hover {
  background: #ececec;
  cursor: pointer;
}
section .banner-home .form-content .filtering-content .collapse ul.navbar-nav li.contact {
  background: #ffb700;
  float: none;
  margin: 8px auto 55px;
  width: 80%;
}
@media (min-width: 1px) and (max-width: 1023px) {
  section .banner-home .form-content .filtering-content .collapse ul.navbar-nav li.contact {
    width: 100%;
  }
}
section .banner-home .form-content .filtering-content .collapse ul.navbar-nav li.contact a {
  color: #000;
  font-size: 1.2em;
  font-weight: bold;
}
section .banner-home .form-content .filtering-content .collapse ul.navbar-nav li.contact a:hover {
  background: none;
}
section .banner-home .form-content .filtering-content .collapse ul.navbar-nav li.contact a img {
  width: 25px;
}
section .banner-home .form-content .filtering-content .collapse ul.navbar-nav li.contact a span {
  color: #FFF;
}
section .banner-home .form-content .filtering-content .collapse ul.navbar-nav li.list-red {
  background: #c51717;
  float: none;
  margin: 0 auto -115px;
  width: 80%;
}
@media (min-width: 1px) and (max-width: 1023px) {
  section .banner-home .form-content .filtering-content .collapse ul.navbar-nav li.list-red {
    margin: 8px auto -60px;
    width: 100%;
  }
}
section .banner-home .form-content .filtering-content .collapse ul.navbar-nav li.list-red a {
  color: #FFF;
  font-size: 1.2em;
  font-weight: bold;
}
section .banner-home .form-content .filtering-content .collapse ul.navbar-nav li.list-red a:hover {
  background: none;
}
section .banner-home .form-content .filtering-content .collapse ul.navbar-nav select {
  background-color: #ececec;
  background-size: 15px;
  font-size: 17px;
  height: 47px;
  margin: 8px 0 0;
  padding-top: 12px;
  padding-bottom: 11px;
  padding-left: 11px;
  width: 100%;
}
section .content-servitecas img.arrow-down, section .content-servicios img.arrow-down, section .content-convenios img.arrow-down, section .content-eco img.arrow-down, section .content-contact img.arrow-down {
  display: block;
  height: 30px;
  margin: 0 auto;
  width: 35px;
}
section .content-servitecas .welcome, section .content-servicios .welcome, section .content-convenios .welcome, section .content-eco .welcome, section .content-contact .welcome {
  margin: 30px auto 15px;
  text-align: center;
}
section .content-servitecas .welcome img, section .content-servicios .welcome img, section .content-convenios .welcome img, section .content-eco .welcome img, section .content-contact .welcome img {
  width: auto;
}
section .content-servitecas .welcome h2, section .content-servicios .welcome h2, section .content-convenios .welcome h2, section .content-eco .welcome h2, section .content-contact .welcome h2 {
  font-family: "HelveticaNeueMedium";
  margin: 12px 0 0;
}
section .content-servitecas ul.cities {
  margin: 25px auto 15px;
  padding: 0;
  text-align: center;
}
section .content-servitecas ul.cities li {
  display: inline-block;
  margin: 2px 3px;
}
@media (min-width: 1px) and (max-width: 767px) {
  section .content-servitecas ul.cities li {
    margin: 2px 1px;
  }
}
section .content-servitecas ul.cities li a {
  background: #ECECEC;
  color: #3C3C3B;
  display: block;
  font-family: "HelveticaNeueMedium";
  font-size: 1.5em;
  padding: 12px 22px;
  text-decoration: none;
}
@media (min-width: 1px) and (max-width: 767px) {
  section .content-servitecas ul.cities li a {
    font-size: .9em;
    padding: 8px 10px;
  }
}
section .content-servitecas ul.cities li a:hover, section .content-servitecas ul.cities li a.active {
  background: #ffb700;
}
section .content-servitecas aside {
  background-image: url(../img/home/banner-servitecas.png);
  background-repeat: no-repeat;
  background-position: left center;
  margin: 15px auto;
  padding: 150px 0 245px;
  position: relative;
}
section .content-servitecas aside p {
  font-family: "HelveticaNeueThin";
  font-size: 3.2em;
  float: right;
  line-height: 1em;
  margin: 0;
  padding: 0;
  width: 45%;
}
@media (min-width: 1px) and (max-width: 767px) {
  section .content-servitecas aside {
    background: none;
    padding: 8px 10px;
  }
  section .content-servitecas aside p {
    font-size: 2em;
    float: none;
    text-align: center;
    width: 100%;
  }
}
section .content-servitecas aside div.container {
  background: #D9D9D9;
  display: none;
  padding: 5px;
  position: absolute;
  top: 5%;
  width: 49%;
  z-index: 1;
}
@media (min-width: 1px) and (max-width: 767px) {
  section .content-servitecas aside div.container {
    margin: 15px 0;
    position: relative;
    width: 98%;
  }
  section .content-servitecas aside div.container p {
    text-align: left;
  }
}
section .content-servitecas aside div.container.p-left {
  left: 0;
}
section .content-servitecas aside div.container.p-right {
  right: 0;
}
section .content-servitecas aside div.container a.close {
  color: #3C3C3B;
}
section .content-servitecas aside div.container ul {
  list-style: none;
  margin: 15px auto;
  padding: 0;
  width: 96%;
}
section .content-servitecas aside div.container ul li {
  display: inline-block;
  font-family: "HelveticaNeueMedium";
  margin: 5px 0;
  width: 48%;
}
section .content-servitecas aside div.container ul li a {
  color: #ffb700;
  font-weight: bold;
}
section .content-servitecas aside div.container .map {
  display: block;
  margin: 15px auto;
  width: 96%;
}
section .content-servitecas aside div.container div.description {
  background: #ffb700;
  border-radius: 8px;
  font-family: "HelveticaNeueBold";
  margin: 0 auto;
  padding: 8px 15px;
  width: 96%;
}
section .content-servitecas aside div.container div.description a.close {
  color: #FFF;
}
section .content-servitecas aside div.container div.description h3 {
  color: #FFF;
  font-size: 1.2em;
}
section .content-servitecas aside div.container div.description p {
  float: none;
  font-family: inherit;
  font-size: 1.2em;
  margin: 8px 0;
  width: auto;
}
section .content-servitecas aside div.container div.description a {
  color: #FFF;
  font-size: 1.2em;
}
section .content-servitecas aside div.container div.description a:hover {
  color: #FFF;
}
section div.content-servicios {
  background: #F5F5F5;
  padding: 20px 0;
}
section div.content-servicios h1 {
  font-family: "HelveticaNeueThin";
  font-size: 4em;
  margin: 30px auto;
  text-align: center;
}
@media (min-width: 1px) and (max-width: 767px) {
  section div.content-servicios h1 {
    font-size: 2em;
    margin: 15px auto;
  }
}
section div.content-servicios ul {
  list-style: none;
  margin: 25px auto;
  padding: 0;
  text-align: center;
  max-width: 1024px;
  width: 100%;
}
section div.content-servicios ul li {
  color: #ffb700;
  display: inline-block;
  font-family: "HelveticaNeue";
  font-size: 1.2em;
  text-align: center;
  width: 18%;
}
section div.content-servicios ul li img {
  display: block;
  margin: 0 auto;
  width: auto;
}
@media (min-width: 1px) and (max-width: 767px) {
  section div.content-servicios ul li {
    font-size: .9em;
    width: 25%;
  }
  section div.content-servicios ul li img {
    width: 100%;
  }
}
section div.content-convenios {
  background: #3C3C3B;
  padding: 0 0 20px;
}
section div.content-convenios h1 {
  color: #FFF;
  font-family: "HelveticaNeueThin";
  font-size: 4em;
  margin: 30px auto;
  text-align: center;
}
@media (min-width: 1px) and (max-width: 767px) {
  section div.content-convenios h1 {
    font-size: 2em;
    margin: 15px auto;
  }
}
section div.content-convenios aside {
  max-width: 1024px;
  text-align: center;
}
section div.content-convenios aside a {
  color: #FFF;
  display: inline-block;
  font-size: 2em;
  margin: 15px 18px 5px;
  text-align: center;
}
section div.content-convenios aside a img {
  width: 65%;
}
@media (min-width: 1px) and (max-width: 767px) {
  section div.content-convenios aside a {
    font-size: 1em;
    width: 35%;
  }
}
section div.content-eco {
  padding: 0;
}
section div.content-eco h1 {
  color: #94C01F;
  font-family: "HelveticaNeueThin";
  font-size: 4em;
  margin: 30px auto;
  text-align: center;
}
@media (min-width: 1px) and (max-width: 767px) {
  section div.content-eco h1 {
    font-size: 2em;
    margin: 15px auto;
  }
}
section div.content-eco h2 {
  color: #94C01F;
}
section div.content-eco h3 {
  color: #94C01F;
  font-family: "HelveticaNeueThin";
}
section div.content-eco aside {
  display: table;
  max-width: 1024px;
  text-align: center;
}
section div.content-eco aside p {
  color: #575756;
  font-size: 1.8em;
  line-height: 1.1em;
  margin: 15px auto 50px;
}
@media (min-width: 1px) and (max-width: 767px) {
  section div.content-eco aside p {
    font-size: 1em;
    margin: 15px auto;
  }
}
section div.content-contact {
  background-color: #F5F5F5;
  background-image: url(../img/home/bg-contactenos.png);
  background-position: left top;
  background-size: 100%;
  padding: 20px 0;
}
section div.content-contact h2 {
  color: #3C3C3B;
}
section div.content-contact aside {
  max-width: 1024px;
  text-align: center;
}
section div.content-contact aside form {
  padding: 0 0 25px;
}
section div.content-contact aside form input[type="text"], section div.content-contact aside form textarea, section div.content-contact aside form select {
  background-color: #ECECEC;
  border: 0;
  margin: 6px 0;
  outline: 0;
  padding: 10px 12px;
  resize: none;
  width: 100%;
}
section div.content-contact aside form textarea {
  height: 90px;
}
section div.content-contact aside ul.medios {
  list-style: none;
  margin: 150px auto 15px;
  padding: 0;
  text-align: center;
  width: 100%;
}
section div.content-contact aside ul.medios li {
  color: #3C3C3B;
  display: inline-block;
  font-family: "HelveticaNeue";
  font-size: .9em;
  text-align: center;
  width: 14%;
}
section div.content-contact aside ul.medios li img {
  display: block;
  margin: 0 auto 5PX;
  width: auto;
}
section div.content-contact aside ul.nosotros {
  background-color: #FFF;
  list-style: none;
  margin: 15px auto 25px;
  padding: 0;
  text-align: center;
  width: 100%;
}
section div.content-contact aside ul.nosotros li {
  display: inline-block;
  margin: 15px -2px 0;
  width: 25%;
}
section div.content-contact aside ul.nosotros li div.description {
  background-color: #3C3C3B;
  background-image: url(../img/home/contactenos-separador.png);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: auto 60%;
  color: #FFF;
  padding: 8px 0;
}
section div.content-contact aside ul.nosotros li div.description a {
  color: #FFF;
}
section div.content-contact aside ul.nosotros li:first-child div.description {
  background-image: none;
}
@media (min-width: 1px) and (max-width: 767px) {
  section div.content-contact aside ul.medios {
    margin: 5px auto 15px;
  }
  section div.content-contact aside ul.medios li {
    margin: 15px auto;
    width: 25%;
  }
  section div.content-contact aside ul.medios li img {
    width: 100%;
  }
  section div.content-contact aside ul.nosotros li {
    width: 50%;
  }
  section div.content-contact aside ul.nosotros li div.description {
    background-image: none;
  }
  section div.content-contact aside ul.nosotros li:nth-child(even) div.description {
    background-image: url(../img/home/contactenos-separador.png);
  }
}
section div.content-info {
  display: table;
  margin: 0 auto;
  max-width: 1024px;
  padding: 25px 0;
  width: 100%;
}
section div.content-info p {
  color: #575756;
  font-family: "HelveticaNeue";
  text-align: justify;
}
section div.content-info p span {
  color: #ffb700;
}
section div.content-servitecas {
  display: table;
  font-family: "HelveticaNeue";
  margin: 0 auto;
  max-width: 1024px;
  padding: 25px 0;
  width: 100%;
}
section div.content-servitecas p {
  color: #575756;
  font-family: "HelveticaNeue";
  text-align: justify;
}
section div.content-servitecas p span {
  color: #ffb700;
}
section div.content-servitecas div.table-responsive table {
  font-size: .9em;
}
section div.content-servitecas div.table-responsive table thead tr td {
  font-weight: bold;
  text-align: center;
}
section div.content-servitecas div.table-responsive table tbody tr td {
  font-size: .9em;
  text-align: center;
  vertical-align: middle;
}
section div.content-servitecas div.table-responsive table tbody tr td a.more-information img {
  max-width: 120px;
  width: 100%;
}
section div.content-servitecas div#servitecas-detalle {
  display: none;
}
section div.content-servitecas div#servitecas-detalle div.content-map {
  -webkit-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.4);
  padding: 8px;
  margin: 0 0 0 -5px;
}
section div.content-servitecas div#servitecas-detalle div.content-map div.map {
  height: 100%;
  min-height: 500px;
  width: 100%;
}
section div.content-servitecas div#servitecas-detalle a.back img {
  width: auto;
}
section div.content-servitecas div#servitecas-detalle h1 {
  font-weight: bold;
  font-size: 1.8em;
  margin: 0 0 12px;
  text-align: center;
}
section div.content-servitecas div#servitecas-detalle h5 {
  margin: 15px 0 5px;
}
section div.content-servitecas div#servitecas-detalle p {
  font-size: .9em;
  line-height: 1.2em;
  margin: 5px 0;
}
section div.content-servitecas div#servitecas-detalle .info-contact {
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 100% auto;
  color: #FFF;
  display: inline-block;
  margin: 0 5px 15px;
  padding: 10px 10px 10px 40px;
  text-decoration: none;
}
section div.content-servitecas div#servitecas-detalle .info-contact.info-1 {
  background-image: url(../img/servitecas-icon-1.png);
}
section div.content-servitecas div#servitecas-detalle .info-contact.info-2 {
  background-image: url(../img/servitecas-icon-2.png);
}
section div.content-servitecas div#servitecas-detalle .info-contact.info-3 {
  background-image: url(../img/servitecas-icon-3.png);
}
section div.content-servitecas div#servitecas-detalle ul {
  list-style: none;
  margin: 15px 0 0;
  padding: 0;
  text-align: center;
  width: 100%;
}
section div.content-servitecas div#servitecas-detalle ul li {
  border: 0;
  display: inline-block;
  font-size: .6em;
  font-weight: bold;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 18%;
}
section div.content-servitecas div#servitecas-detalle ul li img {
  border: 0;
  display: block;
  margin: 0 auto;
  padding: 0;
  width: 94%;
}
section div.content-servitecas ul.list-servitecas {
  list-style: none;
  margin: 0 auto;
  padding: 8px 0;
  text-align: center;
  width: 100%;
}
section div.content-servitecas ul.list-servitecas li {
  -webkit-box-shadow: 6px 6px 34px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 6px 34px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 6px 6px 34px -8px rgba(0, 0, 0, 0.75);
  background: #EAEAEA;
  display: inline-block;
  margin: 10px auto;
  padding: 12px 0;
  text-align: left;
  width: 100%;
}
section div.content-servitecas ul.list-servitecas li div.col-xs-7, section div.content-servitecas ul.list-servitecas li div.col-xs-5 {
  padding: 0 10px;
}
section div.content-servitecas ul.list-servitecas li h1 {
  font-size: .8em;
  font-weight: bold;
}
section div.content-servitecas ul.list-servitecas li p {
  font-size: .7em;
  line-height: 1.1em;
  margin: 5px 0;
}
section div.content-servitecas ul.list-servitecas li .info-contact {
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 100% auto;
  color: #474747;
  display: block;
  font-size: .7em;
  font-weight: bold;
  line-height: .9em;
  margin: 0px 0;
  padding: 9px 8px 7px 35px;
  text-decoration: none;
}
section div.content-servitecas ul.list-servitecas li .info-contact.info-1 {
  background-image: url(../img/servitecas-icon-1.png);
}
section div.content-servitecas ul.list-servitecas li .info-contact.info-2 {
  background-image: url(../img/servitecas-icon-2.png);
}
section div.content-servitecas ul.list-servitecas li .info-contact.info-3 {
  background-image: url(../img/servitecas-icon-3.png);
}
section div.content-servitecas ul.list-servitecas li .info-contact span {
  color: #FFF;
  font-size: .5em;
  font-weight: none;
}
section div.content-servitecas ul.list-servitecas li a.show-info, section div.content-servitecas ul.list-servitecas li a.hidde-info {
  background-color: #474747;
  border-radius: 5px;
  color: #FFF;
  font-size: .8em;
  font-weight: bold;
  padding: 6px 8px;
  text-decoration: none;
}
section div.content-servitecas ul.list-servitecas li a.show-info.hidde-info, section div.content-servitecas ul.list-servitecas li a.hidde-info.hidde-info {
  margin: 10px;
}
section div.content-servitecas ul.list-servitecas li div.description {
  display: none;
  padding: 8px 0;
}
section div.content-servitecas ul.list-servitecas li div.description div.content-map {
  -webkit-box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.4);
  display: inline-block;
  padding: 8px;
  margin: 15px 2.5% 15px;
  width: 95%;
}
section div.content-servitecas ul.list-servitecas li div.description div.content-map div.map {
  height: 100%;
  min-height: 200px;
  width: 100%;
}
section div.content-servitecas ul.list-servitecas li div.description ul.list-services li {
  -webkit-box-shadow: 0px 0px 0px 0px transparent;
  -moz-box-shadow: 0px 0px 0px 0px transparent;
  box-shadow: 0px 0px 0px 0px transparent;
  background-color: none;
  display: inline-block;
  font-size: .5em;
  text-align: center;
  width: 18%;
}

section.list-products {
  display: block;
  font-size: 1.1em;
  margin: 0 auto;
  max-width: 1250px;
  padding: 25px 0;
  possition: relative;
  width: 100%;
}
@media (min-width: 1px) and (max-width: 1023px) {
  section.list-products {
    font-size: 1em;
    padding: 10px 0 0;
  }
}
@media (min-width: 1px) and (max-width: 767px) {
  section.list-products {
    padding: 10px 0 0;
  }
}
section.list-products div.filter-list {
  padding: 75px 0 25px;
}
@media (min-width: 1px) and (max-width: 1023px) {
  section.list-products div.filter-list {
    padding: 5px 0;
  }
}
section.list-products div.filter-list ul.nav-tabs {
  border-bottom: 1px solid #ffb700;
  margin: 50px 0 10px;
}
section.list-products div.filter-list ul.nav-tabs li {
  margin: 0;
  padding: 0;
  width: 33.3%;
}
section.list-products div.filter-list ul.nav-tabs li a {
  border-radius: 0;
  border: 0;
  color: #313166;
  font-family: "HelveticaNeue";
  font-weight: bold;
  margin: 0;
}
section.list-products div.filter-list ul.nav-tabs li.active a, section.list-products div.filter-list ul.nav-tabs li:hover a {
  border: 1px solid #ffb700;
}
section.list-products div.filter-list div.tab-content {
  padding: 8px 12px;
}
section.list-products div.filter-list div.tab-content form select {
  background-color: #FFF;
  border-radius: 0;
  margin: 5px 0;
  padding: 8px 15px;
  -webkit-appearance: button;
}
section.list-products div.filter-list div.tab-content form .btn {
  background-color: #575756;
  border-radius: 0;
  color: #FFF;
  display: block;
  font-family: "HelveticaNeue";
  font-weight: bold;
  margin: 10px auto;
  outline: 0;
  padding: 5px 8px;
}
section.list-products div.filter-products {
  padding: 0 0;
}
section.list-products div.filter-products ul.nav-tabs {
  border-bottom: 1px solid #ffb700;
  margin: 50px 0 10px;
}
@media (min-width: 1px) and (max-width: 1023px) {
  section.list-products div.filter-products ul.nav-tabs {
    margin-top: 10px;
  }
}
section.list-products div.filter-products ul.nav-tabs li {
  margin: 0;
  padding: 0;
}
section.list-products div.filter-products ul.nav-tabs li a {
  border-radius: 0;
  border: 0;
  color: #313166;
  font-family: "HelveticaNeue";
  font-weight: bold;
  margin: 0;
}
section.list-products div.filter-products ul.nav-tabs li.active a, section.list-products div.filter-products ul.nav-tabs li:hover a {
  background-color: #ffb700;
  color: #FFF;
}
section.list-products div.filter-products div.tab-content ul.produc-list {
  width: 100%;
}
section.list-products div.filter-products div.tab-content ul.produc-list li {
  border: 1px solid #dcdbdc;
  border-top: 0;
  color: #313130;
  display: inline-grid;
  font-family: "HelveticaNeueMedium";
  margin: 15px 1%;
  padding: 0 5px;
  min-width: 192px;
  width: 31%;
}
@media (min-width: 1px) and (max-width: 1023px) {
  section.list-products div.filter-products div.tab-content ul.produc-list li {
    text-align: center;
  }
}
@media (min-width: 1px) and (max-width: 767px) {
  section.list-products div.filter-products div.tab-content ul.produc-list li {
    width: 96%;
  }
}
section.list-products div.filter-products div.tab-content ul.produc-list li h4 {
  text-align: left;
}
section.list-products div.filter-products div.tab-content ul.produc-list li div.brand {
  border: 1px solid #dcdbdc;
  border-radius: 5px;
  margin: -5px -5px 5px;
  padding: 5px;
}
@media (min-width: 1px) and (max-width: 767px) {
  section.list-products div.filter-products div.tab-content ul.produc-list li div.brand {
    text-align: center;
    display: -webkit-inline-box;
  }
}
section.list-products div.filter-products div.tab-content ul.produc-list li div.head {
  width: 100%;
}
section.list-products div.filter-products div.tab-content ul.produc-list li div.head a {
  color: #313130;
}
section.list-products div.filter-products div.tab-content ul.produc-list li div.photo {
  /*display: inline-table;*/
  margin: 8px auto;
  position: relative;
}
section.list-products div.filter-products div.tab-content ul.produc-list li div.photo img {
  display: inline-block;
  margin: 0;
  width: 55%;
}
section.list-products div.filter-products div.tab-content ul.produc-list li div.photo img.promo {
  width: 35%;
  position: absolute;
  bottom: 0;
  right: 0;
}
section.list-products div.filter-products div.tab-content ul.produc-list li div.photo ul.type {
  display: inline-block;
  width: 40%;
}
section.list-products div.filter-products div.tab-content ul.produc-list li div.photo ul.type li {
  border: 0;
  display: block;
  text-align: center;
  margin: 0;
  min-width: inherit;
  width: 100%;
}
section.list-products div.filter-products div.tab-content ul.produc-list li div.photo ul.type li img {
  width: 60%;
}
section.list-products div.filter-products div.tab-content ul.produc-list li ul.features li {
  border: 0;
  display: flow-root;
  font-size: .9em;
  margin: 0;
  min-width: inherit;
  width: 100%;
}
section.list-products div.filter-products div.tab-content ul.produc-list li div.foot {
  background: #dcdbdc;
  margin: 8px -5px 0;
  padding: 5px;
  text-align: center;
}
section.list-products div.filter-products div.tab-content ul.produc-list li div.foot div.box-buy {
  display: inline-flex;;
  margin: 5px 0;
}
section.list-products div.filter-products div.tab-content ul.produc-list li div.foot div.box-buy span.price {
  display: block;
}
section.list-products div.filter-products div.tab-content ul.produc-list li div.foot div.box-buy input[type="text"] {
  border: 1px solid #313130;
  display: inline-block;
  height: 45px;
  margin: 0 0 0 10px;
  text-align: center;
  outline: 0;
  width: 45px;
}
@media (min-width: 1px) and (max-width: 767px) {
  section.list-products div.filter-products div.tab-content ul.produc-list li div.foot div.box-buy input[type="text"] {
    margin-left: 60px;
  }
}
section.list-products div.filter-products div.tab-content ul.produc-list li div.foot div.box-buy div.btn-count {
  display: inline-block;
  margin: 0 8px 0 2px;
}
section.list-products div.filter-products div.tab-content ul.produc-list li div.foot div.box-buy div.btn-count a {
  background: #313130;
  color: #FFF;
  display: block;
  font-size: 10px;
  height: 22px;
  margin: 0 0 1px;
  padding: 3px 2px;
  text-align: center;
  text-decoration: none;
  width: 25px;
}
section.list-products div.filter-products div.tab-content ul.produc-list li div.foot div.box-buy a.btn-buy {
  background: #e4a300;
  color: #FFF;
  height: 45px;
  padding: 12px;
  text-decoration: none;
}

section.product {
  display: block;
  font-family: "HelveticaNeueMedium";
  font-size: 1.2em;
  margin: 0 auto;
  max-width: 1250px;
  padding: 25px 0 15px;
  position: relative;
  width: 100%;
}
@media (min-width: 1px) and (max-width: 1023px) {
  section.product {
    font-size: 1.1em;
    padding: 10px 0 0;
  }
}
@media (min-width: 1px) and (max-width: 767px) {
  section.product {
    padding: 10px 15px 0;
  }
}
section.product a.btn-register {
  display: inline-block;
  background: #DC0D15;
  color: #FFF;
  font-weight: bold;
  padding: 12px;
  text-decoration: none;
  margin: 12px 0;
  width: auto;
}
section.product div.breadcrumb {
  background: none;
  font-family: "HelveticaNeueItalic";
  margin: 0;
}
section.product div.breadcrumb a {
  color: #3C3C3B;
}
section.product div.photo {
  position: relative;
}
section.product div.photo img.product-file {
  margin: 0 10%;
  width: 80%;
}
section.product div.photo img.freeshipping {
  bottom: 5px;
  max-width: 80px;
  position: absolute;
  right: 10%;
  width: auto;
}
section.product div.brand {
  padding: 5px 0;
}
section.product div.brand img {
  border: 2px solid #F5F5F5;
  border-radius: 10px;
  padding: 8px 20px;
  width: 40%;
}
@media (min-width: 1px) and (max-width: 767px) {
  section.product div.brand img {
    width: 100%;
  }
}
section.product div.btn-return {
  float: right;
  position: relative;
  width: 150px;
}
section.product div.btn-return a {
  color: #3C3C3B;
  content: "";
  position: absolute;
  left: -50px;
  width: 0;
  height: 0;
  border-width: 20px;
  border-style: solid;
  border-color: transparent red transparent transparent;
  text-decoration: none;
  padding: 0;
}
section.product div.btn-return a span {
  font-weight: bold;
  margin: -10px 0 0 30px;
}
@media (min-width: 1px) and (max-width: 767px) {
  section.product div.btn-return {
    width: 70px;
  }
  section.product div.btn-return a {
    border-width: 15px;
    top: 5px;
  }
  section.product div.btn-return a span {
    margin: -10px 0 0 20px;
  }
}
section.product span {
  display: block;
}
section.product span.price {
  color: #DC0D15;
  font-size: 2em;
  font-weight: bold;
  margin: -8px 10px 0 0;
}
section.product span.info-head {
  font-size: .9em;
  margin: -3px 0;
}
section.product div.box-buy {
  display: flex;
  margin: 5px 0;
}
section.product div.box-buy input[type="text"] {
  border: 1px solid #313130;
  display: inline-block;
  height: 35px;
  text-align: center;
  outline: 0;
  width: 35px;
}
section.product div.box-buy div.btn-count {
  display: inline-block;
  margin: 0 8px 0 2px;
}
section.product div.box-buy div.btn-count a {
  background: #575756;
  color: #FFF;
  display: block;
  font-size: 10px;
  height: 17px;
  margin: 0 0 1px;
  padding: 0 2px;
  text-align: center;
  text-decoration: none;
  width: 17px;
}
section.product div.box-buy a.btn-buy {
  background: #DC0D15;
  color: #FFF;
  font-weight: bold;
  padding: 8px;
  height: 35px;
  text-decoration: none;
}
@media (min-width: 1px) and (max-width: 767px) {
  section.product div.box-buy {
    display: table;
  }
  section.product div.box-buy input[type="text"], section.product div.box-buy div.btn-count, section.product div.box-buy a.btn-buy {
    float: left;
  }
}
section.product hr {
  border-color: #313130;
}
section.product table.features {
  margin: 50px 0 10px 0;
  width: 100%;
}
@media (min-width: 1px) and (max-width: 767px) {
  section.product table.features {
    margin: 30px 0 10px 0;
  }
}
section.product table.features tr td {
  border: 1px solid #313130;
  text-align: center;
  padding: 8px 0;
}
section.product table.features tr td p {
  font-size: .9em;
}
section.product table.features tr td img {
  width: auto;
}
section.product table.features-2 {
  margin: 50px 0 10px 0;
  width: 100%;
}
@media (min-width: 1px) and (max-width: 767px) {
  section.product table.features-2 {
    margin: 30px 0 10px 0;
  }
}
section.product table.features-2 tr:nth-child(2), section.product table.features-2 tr:nth-child(3) {
  border-bottom: 1px solid #313130;
}
section.product table.features-2 tr td {
  border: 1px solid #313130;
  text-align: center;
  padding: 8px 0;
}
section.product table.features-2 tr td:nth-child(1) {
  padding: 8px 15px;
  text-align: left;
}
section.product table.features-2 tr td:nth-child(1) img {
  margin-right: 8px;
}
section.product table.features-2 tr td span.bulled {
  border-radius: 50px;
  background: #ffb700;
  display: block;
  height: 12px;
  margin: 0 auto;
  width: 12px;
}
section.product table.features-2 tr td p {
  font-size: .9em;
}
section.product table.features-2 tr td img {
  width: auto;
}
section.product div.description {
  font-size: 0.9em;
  margin: 20px 0 10px 0;
}
section.product div.description a, section.product div.description a:hover {
  color: #313130;
  text-decoration: underline;
}
section.product div.description h4 {
  margin: 15px 0 4px;
}
section.product div.description hr {
  margin: 5px 0;
}
section.product div.product-detail {
  margin: 50px 0 0 150px;
}
@media (min-width: 1px) and (max-width: 767px) {
  section.product div.product-detail {
    margin: 15px 5px;
  }
}
section.product div.product-detail ul.nav-tabs {
  border-bottom: 1px solid #313130;
}
section.product div.product-detail ul.nav-tabs li a {
  border: 1px solid #313130;
  border-radius: 0;
  border-bottom: transparent;
  color: #313130;
  font-family: "HelveticaNeue";
  font-size: 1.1em;
  font-weight: bold;
  margin: 0 5px 0 0;
}
@media (min-width: 1px) and (max-width: 767px) {
  section.product div.product-detail ul.nav-tabs li a {
    font-size: 1em;
    margin: 0 1px 0 0;
    padding: 5px 8px;
  }
}
section.product div.product-detail ul.nav-tabs li.active a {
  background: #F5F5F5;
}
section.product div.product-detail div.tab-content {
  background: #F5F5F5;
  border: 1px solid #313130;
  border-top: transparent;
  padding: 15px;
}
section.product div.product-detail div.tab-content ul {
  margin: 0 25px;
  padding: 0;
}

section.banner {
  background: #12100B;
  font-family: "HelveticaNeue";
  text-align: center;
}
section.banner img {
  margin: 25px auto;
  width: auto;
}
@media (min-width: 1px) and (max-width: 767px) {
  section.banner img {
    width: 94%;
  }
}
section.banner p {
  color: #FFF;
  padding: 15px;
  text-align: justify;
}

section.page {
  display: block;
  font-family: "HelveticaNeue";
  font-size: 1.2em;
  margin: 0 auto;
  max-width: 1250px;
  padding: 25px 0;
  position: relative;
  width: 100%;
}
@media (min-width: 1px) and (max-width: 1023px) {
  section.page {
    font-size: 1.1em;
    padding: 10px 0 0;
  }
}
@media (min-width: 1px) and (max-width: 767px) {
  section.page {
    padding: 10px 15px 0;
  }
}
section.page div.breadcrumb {
  background: none;
  font-family: "HelveticaNeueItalic";
  margin: 0;
}
section.page div.breadcrumb a {
  color: #3C3C3B;
}
section.page p {
  margin: 15px 0;
}
section.page h2 {
  font-weight: bold;
  margin: 25px 0 8px;
  text-align: center;
}
section.page ul {
  margin: 0 20px 10px;
}
section.page ul.width-33 {
  display: inline-table;
  margin: 5px 0;
  list-style: none;
}
@media (min-width: 1px) and (max-width: 767px) {
  section.page ul.width-33 {
    margin: 0;
    width: 100%;
  }
}
section.page ul.width-33 li {
  margin: 6px 0;
}
section.page ul.logos {
  text-align: center;
  margin: 0 0 30px 0;
}
section.page ul.logos li {
  display: inline-block;
  margin: 12px 2% 0;
  width: 15%;
}
@media (min-width: 1px) and (max-width: 767px) {
  section.page ul.logos li {
    width: 28%;
  }
}
section.page ul.logos-marcas {
  text-align: center;
  margin: 0 0 30px 0;
}
section.page ul.logos-marcas li {
  display: inline-block;
  margin: 45px 2% 0px;
  padding: 8px 12px;
  width: 20%;
}
@media (min-width: 1px) and (max-width: 767px) {
  section.page ul.logos-marcas li {
    margin: 25px 0 0px;
    width: 48%;
  }
}
section.page a {
  color: #333;
}
section.page a.link {
  color: #004C99;
}

section.banner-page {
  text-align: center;
}
section.banner-page img {
  margin: 0 auto;
}
